/* Google Fonts -Poppins */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}
.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background: #fff;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    position: relative;
}
.profile-card::before{
    content: '';
    position: absolute;
    height: 36%;
    width: 100%;
    background-color: #4070f4;
    top: 0;
    left: 0;
    border-radius: 24px 24px 0 0;

}
.image{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #0766f5;
    padding: 3px;
    margin-bottom: 10px;
}
.image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}
.profile-card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 20px; */
}
.text-data .name{
    font-size: 22px;
    font-weight: 600;
    color: #333;
}
.text-data .job{
    font-size: 16px;
    font-weight: 500;
    color: #777;
}
.profile-card .media-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    /* background:green; */
    /* gap: 15/px; */
}
.media-buttons .link{
    display: flex;
    background-color: #4070f4;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin: 0 8px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}
.media-buttons #facebook{
    background: #4267b2;
}.media-buttons #twitter {
    background: #1da1f2;
}.media-buttons #instagram {
    background: #e1306c;
}.media-buttons #youtube {
    background: #ff0000;
}

.profile-card .buttons {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: 25px;
}
.buttons .button {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    margin: 0 10px;
    border: none;
    padding: 8px 24px;
    border-radius: 24px;
    background-color: #4070f4;
    transition: all 0.3s ease;

}
.buttons .button:hover{
    background-color: #0e4bf1;
}
.profile-card .analytics {
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.analytics .data {
    display: flex;
    align-items: center;
    /* margin: 0 15px; */
    padding: 0 20px;
    text-align: center;
    color: #333;
    border-right: 2px solid #e7e7e7;
}
.analytics .data:last-child {
    border-right: none;
}
.data i {
    font-size: 18px;
    margin-right: 6px;

}